/* public/dashboard.css */
body {
    font-family: Arial, sans-serif;
    background-color:  #5DCA9C; /* Light green background */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

.container {
    display: flex;
    width: 80%;
    height: 80%;
    background-color: white; /* White background for the container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for 3D effect */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden;
}

.sidebar {
    background-color: #F5F5F5; /* Light grey background */
    padding: 20px;
    width: 25%; /* Sidebar takes up 25% of the container width */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align content */
}

.sidebar h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.sidebar ul li a:hover {
    color:#A52A2A; /* Blue color on hover */
}

.main-content {
    padding: 40px;
    width: 75%; /* Main content takes up 75% of the container width */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-content h1 {
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.dashboard-button {
    padding: 15px 30px;
    font-size: 18px;
    background-color:  #A52A2A; /* Green background */
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.dashboard-button:hover {
    background-color: #00FFFF; /* Darker green on hover */
}
